<li>
	{{name}}

	<button class="cheers" data-id="{{id}}" data-newDrank="{{drank}}">
		{{#if drank}}Cheers!{{else}}Another!{{/if}}
	</button>

	<button class="deleteBeer" data-id="{{this.id}}">DELETE!</button>
</li>