<li>
	{{name}}

	<button class="change-state" data-id="{{id}}" data-newstate="{{empty}}">
		{{#if empty}}Cheers!{{else}}Another!{{/if}}
	</button>

	<button class="delete-beer" data-id="{{this.id}}">DELETE!</button>
</li>
